.header{
    display:flex;
    align-items: center;

}
.header a{
 display:flex;
 align-items: center;
 text-decoration: nome;
 }
 .header .logo{
     max-height: 45px;

 }
 .header .title-grup {
     padding-left: 25px;
 }
 .header .title-grup i{
     padding-right: 10px;
 }