<mat-sidenav-container class="conteiner">

<mat-sidenav class="sidenav" mode="side" opened 
fixedInViewport ="true" fixedTopGap="64">
<mat-nav-list class= "nav-list">
   <a mat-list-item routerLink>
           inicio
   </a>
   <a mat-list-item routerLink ="/products">
      Produtos
  </a>
  <a mat-list-item>
       List Senhas
  </a>
  </mat-nav-list>

  </mat-sidenav>

<mat-sidenav-content class="content">

        <router-outlet>

        </router-outlet>

</mat-sidenav-content>


</mat-sidenav-container>